@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="card mx-auto">
            <div class="card-body">
                <p>
                    This application has been developed to learn and put into practice the various technologies 
                    that make up the ASP.NET framework. It is currently under development and I will gradually 
                    incorporate more features to it as I learn about these technologies.
                </p>
                <p>
                    This project has been carried out according to the guidelines indicated by K. Scott Allen
                    (Rest in peace) in his course "ASP.NET Core Fundamentals".
                    For more information, you can visit the repository where he was developing
                    an application similar to this (with some difference that I have taken the liberty
                    of adding according to my interest in learning). To see the original K. Scott Allen "OdeToFood" repository
                    click <a href="https://github.com/OdeToCode/OdeToFood">here</a>
                </p>
            </div>

        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p class="mx-auto text-center">
            <img class="d-block mx-auto" src="~/images/people-146963_640.png" />
        </p>
    </div>
